<div class='header'>
  <%= link_to image_tag("gobou.png", size: '150x40'), "/" %>

  <ul class='login-out'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nick_name, "", class: "nickname-top" %></li>
      <li><%= link_to image_tag("logout.png", class: "logout-icon"), destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %> 
      <li><%= link_to image_tag("login.png", class: "login-icon"), new_user_session_path, class: "login" %></li>
    <% end %>
  </ul>
</div>


<div class='title-contents'>
  <h3 class='title'>
    Fridge!で冷蔵庫を整理しよう！！
  </h3>
  <%= form_with(url: "", method: :get, class: "search", local: true) do |f| %>
    <%= f.text_field :keyword, placeholder: "料理名、材料", class: "search-input" %>
    <%= f.submit "レシピ検索", class: "search-btn" %>
  <% end %>
</div>


<div class='feature'>
  <h2 class='feature-title'>
    Fridge!の特徴
  </h2>

  <ul class='feature-list'>
    <li class='list'>
      <%= image_tag "kensaku.jpg" , class: "image" %>
      <h3 class='list-text'>
        余った食材で検索
      </h3>
      <p class='list-description'>
        検索した食材を使ったレシピを一覧表示できます。
      </p>
    </li>
    <li class='list'>
      <%= image_tag "osieru.jpg" , class: "image" %>
      <h3 class='list-text'>
        自分のレシピを教える
      </h3>
      <p class='list-description'>
        検索はもちろん自分のレシピをアップすることができます。
      </p>
    </li>
    <li class='list'>
      <%= image_tag "okiniiri.jpg" , class: "image" %>
      <h3 class='list-text'>
        お気に入りに保存
      </h3>
      <p class='list-description'>
        お気に入りに保存したレシピをすぐに見る事ができます。
      </p>
    </li>
  </ul>
</div>


<div class='show'>
  <h2 class='show-title'>
    〜最新レシピ〜
  </h2>
  <%= link_to 'レシピ投稿', new_cooking_path , class: "subtitle" %>
  <ul class='cooking-list'>
    <% @cookings.each do |cooking| %>
      <li class='show-list'>
        <%= link_to cooking_path(cooking) do %>
          <div>
            <%= image_tag cooking.image, class: "item-img" %>
          </div>
          <h3 class='cooking-name'>
            <%= cooking.cooking_name %>
          </h3>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
