<%= form_with(url: search_cookings_path, method: :get, class: "search", local: true) do |f| %>
  <%= f.text_field :keyword, placeholder: "材料名", class: "search-input" %>
  <%= f.submit "レシピ検索", class: "search-btn" %>
<% end %>
<div class="contents-row">
  <% @cookings.each do |cooking| %>
    <%= link_to cooking_path(cooking.id) do %>
      <div class="search-show">
        <%= image_tag cooking.image, class: "search-image"%>
        <%= cooking.cooking_name %>
      </div>
    <% end %> 
  <% end %>
</div>

 