<div class="signup-all">
  <%= link_to image_tag('gobou.png' , size: '130x30'), "/", class: "rogo-signup"%>
  <div class="login-page">
    <h1 class= "login-title">SIGN UP</h1>
    <%= form_with model: @user, url: user_registration_path, class: "signup", local: true do |f| %>
       <label class="nickname">
        nick name
      </label>
        <div>
          <%= f.text_field :nick_name, class: "form", placeholder: "ニックネーム" %>
        </div>
      <label class="email">
        e-mail
      </label>
        <div>
          <%= f.email_field :email, class: "form", placeholder: "PC・携帯どちらでも可" %>
        </div>
      <label class="password">
        password
      </label>
        <div>
          <%= f.password_field :password, class: "form", placeholder:"6文字以上の半角英数字" %>
        </div>
      <label class="password-confirmation">
        password_confirmation
      </label>
    <div>
      <%= f.password_field :password_confirmation, class: "form" %>
    </div>
      <div class="login-signup">
        <%= f.submit "登録", class: "login-btn" %>
        <div>
          <%= link_to 'LOG IN', new_user_session_path, class: "go" %>
        </div>
      </div>
    <% end %>
  </div>
</div>