<div class="items-sell-header">
  <%= link_to image_tag('gobou.png' , size: '130x30'), "/", class: "rogo"%>
  <div class="login-page">
    <h1 class= "login-title">LOGIN</h1>
    <%= form_with url:new_user_session_path, class: "login", local: true do |f| %>
      <div class="">
        <label class="email">
          e-mail
        </label>
          <div>
            <%= f.email_field :email %>
          </div>
        <label class="password">
          password
        </label>
          <div>
            <%= f.password_field :password, class: "password-form"%>
          </div>
        <%= f.submit "ログイン", class: "login-btn" %>
      </div>
    <% end %>
  </div>
</div>